.InputImage {
  margin-top: 4%;
  label {
    height: 100%;
    font-family: $mainTypo;
    color: white;
    font-size: 20px;
  }
  input {
    display: none;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
    font-family: $mainTypo;
  }
  .selected-file {
    display: flex;
    align-items: center;
    color: black;
  }
  .error-message {
    display: flex;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
  }
  .imageHeigth {
    height: 100%;
  }
  .imageSize {
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: $mainTypo;
    justify-content: center;
  }
  .upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .upload-file {
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
  }
}
