.Cards{

    
    &_content {  
        
        height: 15rem;
        margin-top: 10px;
        margin-left: 35%;
        margin-right: 35%;
        display: flex;
        background-color: rgba(82, 212, 221, 0.482);
        border-radius: 4%;
        width: 15rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
        align-content: stretch;
        flex-wrap: nowrap;
    
        
    }
       
      
          
        
        


    .Style_nom{
        
           
             
        }
        
    
    .Style_img{
        height: 150px;
        
        
       
    
    }
}



