.Search {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   text-align: center;
align-items: center;
    .input{
      

    }
    h1 {
        color: white;
        
    }
    button{
        margin-top: 8%;
        height: 32px;
        border-radius:30px ;
        margin-top: 3%;
    }

}