$buttonColor: #783c8f;
$backgroundColor: linear-gradient(
  rgba(80, 172, 167, 1),
  rgba(80, 172, 167, 0.4),
  rgba(80, 172, 167, 0.1)
);
$fontColor: #ff5733;
$mainTypo: "Verdana";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $mainTypo;
  background: $backgroundColor;
  background-repeat: no-repeat;
}

@import "./components/Header/Header.scss";
@import "./components/HomePage/HomePage.scss";
@import "./components/Comp1/Comp1.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Storage/Storage.scss";
@import "./components/AddPhone/AddPhone.scss";
@import "./components/Storage/infos/InfosCaroussel.scss"


